<footer>
	<h3 id="contact"> CONTACT </h3>
	<div class="iconContainer">
		<div class="icon-github">
			<a href="https://github.com/meriahoneil">{% include icons/icon-github.html %}</a>
		</div>
		<div class="icon-linkedin">
			<a href="https://www.linkedin.com/in/meriah-o-neil-479b96b0/">{% include icons/icon-linkedin.html %}</a>
		</div>
		<div class="icon-facebook">
			<a href="https://www.facebook.com/meriah.oneil">{% include icons/icon-facebook.html %}</a>
		</div>
		<div class="icon-instagram">
			<a href="https://www.instagram.com/riahlyne/">{% include icons/icon-instagram.html %}</a>
		</div>
	</div>
	<hr class="bar">
	<a class="biglink" href="mailto:meriahoneil@gmail.com">meriahoneil@gmail.com</a>
</footer>